/* MOBILE */
[class*="col-"] {
  width: 100%
}

/* TABLET */
@media only screen and (min-width: 600px) {
  html {
    max-width: 960px;
    margin: 0 auto;
  }
  .col-m-1 {width: 8.33%}
  .col-m-2 {width: 16.66%}
  .col-m-3 {width: 25%}
  .col-m-4 {width: 33.33%}
  .col-m-5 {width: 41.66%}
  .col-m-6 {width: 50%}
  .col-m-7 {width: 58.33%}
  .col-m-8 {width: 66.66%}
  .col-m-9 {width: 75%}
  .col-m-10 {width: 83.33%}
  .col-m-11 {width: 91.66%}
  .col-m-12 {width: 100%}
}

/* DESKTOP */
@media only screen and (min-width: 768px) {
  html {
    max-width: 960px;
    margin: 0 auto;
  }
  .col-1 {width: 8.33%}
  .col-2 {width: 16.66%}
  .col-3 {width: 25%}
  .col-4 {width: 33.33%}
  .col-5 {width: 41.66%}
  .col-6 {width: 50%}
  .col-7 {width: 58.33%}
  .col-8 {width: 66.66%}
  .col-9 {width: 75%}
  .col-10 {width: 83.33%}
  .col-11 {width: 91.66%}
  .col-12 {width: 100%}
}

body {
  background-color: #F5F5F5;
}

h1, h2, h3 {
  text-align: center;
}


.menuBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  margin-bottom: 2.5%;
}

.menuButton {
  background-color: #4CAF50;
  border: none;
  padding: 15px 32px;
  width: 15%
}

.usrDiv, .passDiv {
  margin-top: 1%;
  margin-bottom: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.loginContainer {
  margin-top: 5%;
}

.loginLabel {
  text-align: right;
}

#usrField, #passField {
  margin-left: 3%;
}

.singleButton {
  text-align: center;
  margin-top: 2%;
}

.buttons {
  width: 6.5em;
  padding: 1em;
  border: none;
  margin: 0 1% 0 1%;
}

.greenButton {
  background-color: #4CAF50;
}

.yellowButton {
  background-color: #f4ee42;
}

.profSection {
  justify-content: center;
}

.profHeader {
  text-align: right;
  padding-right: 10%;
}

.profData {

}

.editButton {
  padding-left: 5%;
}
.profRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  background-color: white;
  margin: 1% 0% 1% 0%;
}

.deviceButton {
  text-align: center;
}

.devices {
  justify-content: center;
  margin: 2% 6% 2% 6%;
  background-color: white;
  padding: 1%;
}
.deviceRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.addDevButton {
  text-align: center;
  margin-bottom: 4%;
}

.inlineHeading {
  display: inline;
}

.devSelect {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
}

.dNotes {
  margin: 2% 0% 0% 18.25%;
}

.predatorComponent {
  margin: 2% 0 2% 0;
}

.predatorSelectorRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.predatorCell {
  background-color: black;
  margin: 0.2%;
  padding: 0.2%;
}
.predatorHeading {
  margin: 2% 0 2% 0;
  text-align: center;
  color: white;
}

.predImg {
  width: 100%;
  margin: 0;
}

.predatorSelected {
  background-color: red;
  margin: 0.2%;
  padding: 0.2%;
}

.deviceSelector {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
  margin-top: 4%;
}

.errorDiv {
  text-align: center;
  font-size: 1em;
  height: 1.25em;
}

.notesDiv {
  display: flex;
  justify-content: center;
  margin: 3% 0 3% 0;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  margin: 1% 0 3% 0;
}
